<!-- marketing page -->
<div id="mkt">
    <div class="nav">
      <div class="container">
      <h4>nononomnom</h4>
    </div>
  </div>
  <!-- hero -->
  <div class="hero">
    <div class="container">
      <div class="copy">
        <h1>nononomnom</h1>
        <h2>Take the guesswork out of dietary restrictions.<br> Take control of your life.</h2>
      </div>
      <div class="graphic">
        <img id="sausage" src="assets/sausage.svg" alt="sausage">
      </div>
    </div>
  </div>
  <!-- section01 -->
  <div class="section01">
    <div class="container">
      <div class="graphic">
        <img src="../assets/mock.png" alt="nononomnom">
      </div>
      <div class="copy">
        <h3>In a world of full of fad food faux pas, instantly decipher a "no no!" from "nom nom!"</h3>
        <a href="#/app" class="button">View Demo</a>
      </div>
    </div>
  </div>
  <!-- section02 -->
  <div class="section02">
    <img src="assets/doggle.svg" alt="doggle">
    <h3>comnononomnoming soon</h3>
  </div>
  <!-- footer -->
  <div class="footer">
    <p>&copy; 2017 nononomnom. All rights reserved.</p>
  </div>
</div>
