body {
  font-family: 'Rubik', sans-serif;

  .container {
    width: 80%;
    margin: 0 auto;
  }
}

// colors
$white: #ffffff;
$yellow-dark: #FFC600;
$yellow-light: #FFD45B;
$yellow-orange: #FFAA00;
$red: #D23F3F;
$pink:#E34D4C;
$gray: #666666;
$gray-light: #F2f2f2;
$gray-dark: #4A4A4A;
